name: Lint

on: 
  push:
    branches:
      - main

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: 16

    - run: yarn install

    - name: Lint
      run: yarn lint --fix